src/main/mule/munit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4e35e719-dd40-4d89-9d6f-082bf66157c3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="munitFlow" doc:id="1909d403-4388-4830-aa1b-2d4347a20060" >
		<http:listener doc:name="Listener" doc:id="b8c6da4d-caef-4251-b1da-d4739fb80b8c" config-ref="HTTP_Listener_config" path="/test" allowedMethods="GET"/>
		<set-payload value="hiiiiiiii" doc:name="Set Payload" doc:id="8cdbcf07-ced5-4e2c-a493-9e4a354433d0" />
		<logger level="INFO" doc:name="Logger" doc:id="77cb2085-72e9-4e64-b3f8-7ebd26df0838" message="#[payload]"/>
	</flow>
</mule>
